.services {
  min-width: 320px;
  max-width: 720px;
  background-color: #fff;
  margin: 0 auto;
  padding-bottom: 30px;
}

.cells__item {
  padding: 8px 3%;
  margin: 10px 40px;
  background-color: #e5e5e5;
  list-style: none;
  color: black;
  cursor: pointer;
}
/* .cells__item_selected {
  display: grid;
  grid-row: 30px auto;
  padding: 8px 3%;
  margin: 0 40px 10px;
  background-color: #d7f5cc;
  list-style: none;
  color: black;
} */
.link {
  height: 30px;
  display: grid;
  grid-template-columns: 80% 10% 5%;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
}
.details {
  justify-self: end;
}

.serviceName {
  color: black;
}
.pb1 {
  padding-bottom: 1px;
}

.show_more {
  justify-content: center;
}

.cells__item:first-child {
  margin-top: 0;
}

.cells__item:hover {
  background-color: #e6e6e6a8;
}

.price {
  width: 37px;
  padding: 2px 7px;
  background-color: #209bf3;
  color: #fff;
  border-radius: 3px;
  text-align: center;
  justify-self: end;
}
.question {
  cursor: pointer;
  color: black;
}
.question:hover {
  transform: scale(1.2);
}
