.services {
  min-width: 320px;
  max-width: 720px;
  background-color: #fff;
  margin: 0 auto;
  padding-bottom: 40px;
}

.cells__item {
  padding: 8px 3%;
  margin: 10px 40px;
  background-color: #e5e5e5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.pb1 {
  padding-bottom: 1px;
}

.show_more {
  justify-content: center;
  margin-bottom: 0;
}

.cells__item:first-child {
  margin-top: 0;
}

.cells__item:hover {
  background-color: #e6e6e6a8;
}

.price {
  width: 37px;
  padding: 2px 7px;
  background-color: #209bf3;
  color: #fff;
  border-radius: 3px;
  text-align: center;
}
