.form {
  max-width: 640px;

  margin: 0 auto;
  background-color: #fff;
  padding: 0 40px 30px;
}

.input {
  box-sizing: border-box;
  width: 100%;
  height: 46px;
  border: 1px solid #908888;
  padding: 10px;
  margin-bottom: 10px;
}
