ul {
  min-width: 320px;
  max-width: 720px;
  background-color: #fff;
  margin: 0 auto;
  padding-bottom: 30px;
}

.cells__item {
  padding: 8px 3%;
  margin: 10px 40px;
  background-color: #e5e5e5;
  align-items: center;
  list-style: none;
  cursor: pointer;
}
.cells__item:first-child {
  margin-top: 0;
}

.cells__item:hover {
  background-color: #e6e6e6a8;
}
.link {
  display: flex;
  height: 30px;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
}
.data {
  color: black;
}

.show_more {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dn {
  display: none;
}
