ul {
  min-width: 320px;
  max-width: 720px;
  background-color: #fff;
  margin: 0 auto;
  padding-bottom: 30px;
}

.cells__item {
  padding: 8px 3%;
  margin: 10px 40px;
  background-color: #e5e5e5;
  align-items: center;
  list-style: none;
  cursor: pointer;
}
.cells__item:first-child {
  margin-top: 0;
}

.cells__item:hover {
  background-color: #e6e6e6a8;
}

.cells__item__selected {
  background-color: #e7e7e7;
  border: 2px solid #4caf50;
}
.cells__item__selected:hover {
  background-color: #e7e7e7;
  cursor: default;
}
.link {
  display: flex;
  height: 30px;
  justify-content: space-between;
  align-items: center;
  cursor: inherit;
  text-decoration: none;
}
.data {
  display: flex;
  align-items: center;
  color: black;
}
.data :first-child {
  margin-right: 10px;
  width: 30px;
  height: 30px;
  border-radius: 5px;
}
.data :first-child:hover {
  transform: scale(2);
}

.show_more {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dn {
  display: none;
}
