.App {
  text-align: center;
}
.container {
  min-width: 320px;
  max-width: 720px;
  height: 90vh;
  background-color: #fff;
  margin: 50px auto;
}
.img {
  padding: 10%;
}

.img > img {
  width: 100%;
}
