.barbers {
  display: flex;
  justify-content: start;
  align-items: center;
  background-color: #fff;
  min-width: 320px;
  max-width: 720px;
  margin: 0 auto;
  padding-bottom: 15px;
}

select {
  width: 95px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  margin-left: 5px;
  padding: 8px 3%;
  border: none;
  background-color: #e5e5e5;
  cursor: pointer;
}

.chooseBarber {
  margin-left: 40px;
}
